<section class="bookingcont container-fluid col-sm-6 offset-sm-3 text-center">
	<div>
		<h1><span class="fa fa-sign-in"></span><%= __('Modify informations') %></h1>
		<!-- LOGIN FORM -->
		<form id="updateaccountform" name="updateaccountform" action="/account/modify" method="post">
			<div class="form-group">
				<input type="hidden" value="<%= user.ac_id %>" name="accountid" id="accountid">
				<label><%= __('Firstname') %></label>
				<input type="text" class="form-control" name="firstname" value="<%= user.ac_firstname %>">
			</div>
			<div class="form-group">
				<label><%= __('Lastname') %></label>
				<input type="text" class="form-control" name="lastname" value="<%= user.ac_lastname %>">
			</div>
			<div class="form-group">
				<p><%= __('Gender') %></p>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" value="2" class="custom-control-input" id="male" name="gender" <% if(user.ac_gender == 2){ %> checked="checked" <% } %>>
					<label for="male" class="custom-control-label" ><%= __('Male') %></label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" value="1" class="custom-control-input" id="female" name="gender" <% if(user.ac_gender == 1 ){ %> checked="checked" <% } %>>
					<label for="female" class="custom-control-label" ><%= __('Female') %></label>
				</div>
			</div>
			<div class="form-group">
				<%
				let d = new Date(user.ac_dateborn),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

				if (month.length < 2) month = '0' + month;
				if (day.length < 2) day = '0' + day;

				const datebstr = [year, month, day].join('-');

				%>
				<label><%= __('Born date') %></label>
				<input type="date" class="form-control" name="dateborn" value="<%= datebstr %>">

			</div>
			<div class="form-group">
				<label><%= __('Phone') %></label>
				<input type="text" class="form-control" name="phone" value="<%= user.ac_phone %>">
			</div>
			<div class="form-group">
				<label><%= __('Email') %></label>
				<input type="text" class="form-control" name="email" value="<%= user.ac_email %>">
			</div>
			<div class="form-group">
				<label><%= __('Password') %></label>
				<input type="password" class="form-control" name="password" id="password" >
			</div>
			<div class="form-group">
				<label  for="confirm"><%= __('Confirm Password') %></label>
				<input id="confirm" type="password" class="form-control" name="confirm" id="confirm">
			</div>
			<div class="form-group text-center">
				<p class="text-justify"><%= __('Do you agree that the information collected on this form will be recorded in a computerized file by Krav Maga Global Vosges for the management of its members') %>.<br> <%= __('Your data will be kept for 18 months and will be sent to Krav Maga Global Vosges') %>.<br>
					<%= __('In accordance with the') %> <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank" ><%= __('law « informatique et libertés »') %></a>, <%= __("you can exercise your right of access to the data concerning you and rectify them by contacting") %> : KRAV MAGA VOSGES - TÉL. 06.76.05.75.71</p>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" value="0" class="custom-control-input" id="consentno" name="consent" <% if(!user.ac_consent){ %> checked="checked" <% } %> >
					<label for="consentno" class="custom-control-label" ><%= __('No') %></label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" value="1" class="custom-control-input" id="consentyes" name="consent" <% if(user.ac_consent){ %> checked="checked" <% } %>>
					<label for="consentyes" class="custom-control-label" ><%= __('Yes') %></label>
				</div>
			</div>
			<div class="form-group text-center">
				<p class="text-justify">
					<%= __('Do you agree that the information collected on this form will be recorded in a computerized file by Krav Maga Global France for the management of its members') %>.<br> <%= __('Your data will be kept for 18 months and will be sent to Krav Maga Global France') %>.<br>
					<%= __('In accordance with the') %> <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank" ><%= __('law « informatique et libertés »') %></a>, <%= __("you can exercise your right of access to the data concerning you and rectify them by contacting") %> : KRAV MAGA VOSGES - TÉL. 06.76.05.75.71</p>
				<div class="custom-control custom-radio custom-control-inline">

					<input type="radio" value="0" class="custom-control-input" id="consentthirdno" name="consentthird" <% if(!user.ac_consentthird){ %> checked="checked" <% } %> >
					<label for="consentthirdno" class="custom-control-label" ><%= __('No') %></label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" value="1" class="custom-control-input" id="consentthirdyes" name="consentthird" <% if(user.ac_consentthird){ %> checked="checked" <% } %>>
					<label for="consentthirdyes" class="custom-control-label" ><%= __('Yes') %></label>
				</div>
			</div>
			<button type="submit" class="btn btn-perso btn-lg"><%= __('Confirm') %></button>
		</form>
	</div>
</section>
<script>

		$(document).on('submit',"#updateaccountform",function (event) {

			event.preventDefault();
			// Check each field has a value
			if (  this.password.value != ''  || this.confirm.value != '') {
				// Check that the password is sufficiently long (min 6 chars)
				// The check is duplicated below, but this is included to give more
				// specific guidance to the user
				if (this.password.value.length < 6) {
					appendAlert("#password","<%= __('Passwords must be at least 6 characters long. Try Again') %>");
					this.password.focus();
					return false;
				}

				// At least one number, one lowercase and one uppercase letter
				// At least six characters

				const re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
				if (!re.test(password.value)) {
					appendAlert("#password","<%= __('Passwords must contain at least one digit, one lowercase and one uppercase letter. Try Again') %>");
					this.password.focus();
					return false;
				}

				// Check password and confirmation are the same
				if (this.password.value != this.confirm.value) {
					appendAlert("#password","<%= __('Your password and your confirmation do not match. Try Again') %>");
					this.password.focus();
					return false;
				}
			}


			this.submit();
		});

	</script>